* {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tablinks {
  height: 5vh;
  width: 20vh;
}
.hidden {
  display: none;
}

#sidenav {
  position: sticky;
  top: 0;
  flex: 0 0 20%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
  z-index: 1;
  border: solid;
  border-color: rgb(53, 53, 53);
}

#who-to-follow {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 40px;
  z-index: 1;
  border: solid;
  border-color: rgb(53, 53, 53);
}

#who-to-follow h2 {
  margin-bottom: 20px;
}

.user-card {
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
}


.user-card img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-card-info {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  flex-grow: 1;
}

.user-card-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
  background-color: #1a1a1a;
}

.user-card-info p {
  font-size: 14px;
  color: #777;
  background-color: #1a1a1a;
}


.user-card .follow-button {
  background-color: rgb(254, 44, 85);
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 20px;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.follow-button:hover {
  background-color: #7a2536;
}

#for-you {
  flex: 1;
  padding: 40px;
}

#following {
  flex: 1;
  padding: 40px;
}

a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #25f4ee;
}

a:hover::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: inline-block;
  width: auto;
  height: 4px;
  box-shadow: 0 2px 4px rgb(237, 40, 125);
}

.comment {
  border: solid;
  border-radius: 10px;
  color: rgb(69, 69, 69);
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 20px;
  width: 50vh;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.commentProfile {
  display: flex;
  flex-direction: row;
  gap: 5vh;
  margin-bottom: 2.5vh;
}

.commentProfile img {
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
}

input[type="text"] {
  border: solid;
  border-radius: 10px;
  color: rgb(69, 69, 69);
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 20px;
  resize: none;
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: start;
  margin-top: 20px;
  border-radius: 18px;
}

main button {
  background-color: #fe2c55;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  width: 10vh;
  display: flex;
  margin-right: 10px;
}

#sidenav button {
  background-color: #fe2c55;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  width: 10vh;
  display: flex;
  margin-right: 10px;
}


button:hover {
  background-color: #7a2536;
}

input[type="text"][name="comment"] {
  border: solid;
  border-radius: 10px;
  color: rgb(69, 69, 69);
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin-top: 10px;
  resize: none;
  width: 50%;
}

#postBtnDiv {
  display: flex;
  margin-top: 20vh;
}

#postBtn {
  width: 20vh;
  font-size: 15px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.user-menu {
  text-decoration: none;
  display: flex;
  gap: 1.5vh;
  margin-top: 30vh;
}

.user-menu a {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
}

#tiktalk-pfp {
  border-radius: 10vh;
  height: 45px;
  width: 45px;
}

#user-menu-li {
  list-style-type: none;
}

.user-username {
  color: #777;
}
